rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create, read, update, delete:
        if request.auth != null && request.auth.uid == userId;

      match /faces/{faceId} {
        allow read, write: if false;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
